/*
  Icon Font: icons
*/

@font-face {
  font-family: "icons";
  src: url("./icons.eot");
  src: url("./icons.eot?#iefix") format("embedded-opentype"),
       url("./icons.woff") format("woff"),
       url("./icons.ttf") format("truetype"),
       url("./icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: url("./icons.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-android-icon:before,
.icon-apple-icon:before,
.icon-arrow-down-icon:before,
.icon-arrow-up-icon:before,
.icon-chevron-icon:before,
.icon-clock-icon:before,
.icon-facebook-icon:before,
.icon-globe-icon:before,
.icon-health:before,
.icon-heart-icon:before,
.icon-progress:before,
.icon-questionmark-icon:before,
.icon-twitter-icon:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-android-icon:before { content: "\f100"; }
.icon-apple-icon:before { content: "\f101"; }
.icon-arrow-down-icon:before { content: "\f102"; }
.icon-arrow-up-icon:before { content: "\f10a"; }
.icon-chevron-icon:before { content: "\f103"; }
.icon-clock-icon:before { content: "\f104"; }
.icon-facebook-icon:before { content: "\f105"; }
.icon-globe-icon:before { content: "\f106"; }
.icon-health:before { content: "\f10b"; }
.icon-heart-icon:before { content: "\f107"; }
.icon-progress:before { content: "\f10c"; }
.icon-questionmark-icon:before { content: "\f108"; }
.icon-twitter-icon:before { content: "\f109"; }
