//
// Custom Global Variables
// =============================================================================
$global-padding: 5px;
$global-margin: 50px 50px 0px 50px;
$margin-major: 50px;


$height-icon: 50px;
$width-line: 100px;
$height-line: 8px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;


//
// Base
// ----

// Non-responsive website
// $non-responsive: true !default;

// Transition duration
 $transition-duration: 150ms;

// Breakpoints
 $bp-extra-small: 30em;
 $bp-small:       48em;
 $bp-medium:      60em;
 $bp-large:       70em;
 $bp-extra-large: 80em;

// Base Size (used in unitSize() for proportions)
 $base-unit: 8;

// Spacing
 $spacing-xs: unitSize(1);
 $spacing-s:  unitSize(2);
 $spacing-m:  unitSize(3);
 $spacing-l:  unitSize(4);
 $spacing-xl: unitSize(5);


//
// Grid
// ----

// Prefix for the attributes, you can use 'data-' to make your markup valid
 $prefix: "";

// Max width for container
 $container-width: 1200px;

// Gutter size in pixels (without the unit we can do math easily)
 $gutter: 60;

// Number of columns in a row
 $num-columns: 12;

// If you only want to use the mixins for "semantic grids" set this to true
// $only-semantic: false;


//
// Typography
// ----------

 $font-family:          "Lato", "Arial", sans-serif;
 $font-family-headings: "Lato", "Arial", sans-serif;
 $font-family-print:    "Montserrat", "Times New Roman", "Times", serif;
 $font-family-mono:     "Consolas", monospace;
 $font-base-size:       14;


//
// Heading sizes
// ----------

 $h1-size: 48;
 $h2-size: 36;
 $h3-size: 28;
 $h4-size: 18;
 $h5-size: 16;
 $h6-size: 14;
 $giga-size: 80;
 $mega-size: 64;
 $kilo-size: 52;


//
// Color Palette
// -------------

// Colors
 $colors: (
   base: (
     "primary":   #F20D31,
     "selection": #E5E8ED,
     "lines":     #e0e0e0
   ),

   text: (
     "primary":   #666,
     "secondary": #E2EBF2,
     "heading":   #222,
     "ui":        white
   ),

   background: (
	 "darker": #1B1F28, 
     "dark":  #474C56,
     "light": #f5f5f5,
     "body":  white
   ),

   state: (
     "muted":   #aaa,
     "primary": #4591aa,
     "success": #45ca69,
     "warning": #ffb800,
     "error":   #ca4829
   ),

   blue: (
     "darker":  #111318,
     "dark":    #323949,
     "base":    #292F3D,
     "light":   #5ab0cc,
     "lighter": #74cbe8
   ),

   green: (
     "darker":  #3b6e6e,
     "dark":    #3b8686,
     "base":    #37a1a1,
     "light":   #2dbaba,
     "lighter": #69d1d1
   ),

   cream: (
     "darker":  #c47858,
     "dark":    #e29372,
     "base":    #ecac91,
     "light":   #f9c2ab,
     "lighter": #fdd5c3
   ),

   red: (
     "darker":  #653131,
     "dark":    #C7132D,
     "base":    #da3c3c,
     "light":   #f25a5a,
     "lighter": #fa8181
   ),

   gray: (
     "darker":  #333333,
     "dark":    #6B717D,
     "base":    #FAFAFA,
     "light":   #A7AFBD,
     "lighter": #999999
   )
 );




// Custom Mixins
//=============================================================================

//
// Radial gradient background
// --------
// Generates the radial gradient background for hero/cta div
//

@mixin rotate($rotate) {
	-webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -o-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    transform: rotate($rotate);
	
}


// Border radius
// --------
// Generates the default border-radius
//

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}



//
// States
// ------

@each $color-name, $color in $colors {
  @each $color-type, $color-value in $color {
    @if $color-name == "state" {
      .button--#{$color-type} {
        background-color: $color-value;

        &:hover,
        &:focus { background-color: darken($color-value, 15%); }

        &:active { background-color: darken($color-value, 10%); }
      }
    }
  }
}

